<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HL7SoupDatabaseActivities.Properties.Settings.MedicalDB"
            connectionString="Server=tcp:medicalazure.database.windows.net,1433;Initial Catalog=Medical;Persist Security Info=False;User ID=XXX;Password=XXX;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
    </connectionStrings>
</configuration>