<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">

  <?include $(var.ProjectDir)ProductVariables.wxi ?>
  <?include $(var.GeneratedInstallerVersionFile) ?>

  <Package Name="$(var.ProductDisplayName)"
           Language="1033"
           Version="$(var.InstallerVersion)"
           Manufacturer="$(var.CompanyName)"
           UpgradeCode="$(var.UpgradeCode)"
           ProductCode="*"
           Scope="perMachine"
           InstallerVersion="500"
           ShortNames="no">

    <SummaryInformation Description="$(var.ProductDisplayName) $(var.ProductVersionString)"
                        Keywords="Integration Soup, Extension Library, Installer, SFTP, WinSCP" />

    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

    <Property Id="MSIUSEREALADMINDETECTION" Value="1" />
    <Property Id="ARPCOMMENTS" Value="$(var.ProductDescription) $(var.ProductVersionString)" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <Property Id="INTEGRATIONSOUPSERVICEFOUND">
      <RegistrySearch Id="FindIntegrationSoupHostService"
                      Root="HKLM"
                      Key="SYSTEM\CurrentControlSet\Services\IntegrationSoupHostService"
                      Type="raw" />
    </Property>

    <Property Id="LEGACYINTEGRATIONSOUPSERVICEFOUND">
      <RegistrySearch Id="FindLegacyIntegrationSoupHostService"
                      Root="HKLM"
                      Key="SYSTEM\CurrentControlSet\Services\HL7SoupIntegrationHostServer"
                      Type="raw" />
    </Property>

    <StandardDirectory Id="ProgramFilesFolder">
      <Directory Id="COMPANYFOLDER" Name="$(var.CompanyName)">
        <Directory Id="SERVERAPPLICATIONFOLDER" Name="$(var.IntegrationHostServerFolderName)">
          <Directory Id="SERVERCUSTOMLIBRARIESFOLDER" Name="$(var.CustomLibrariesFolderName)">
            <Directory Id="SERVERRUNNERFOLDER" Name="$(var.RunnerFolderName)" />
          </Directory>
        </Directory>
        <Directory Id="SOUPAPPLICATIONFOLDER" Name="$(var.HL7SoupFolderName)">
          <Directory Id="SOUPCUSTOMLIBRARIESFOLDER" Name="$(var.CustomLibrariesFolderName)" />
        </Directory>
        <Directory Id="WORKFLOWDESIGNERAPPLICATIONFOLDER" Name="$(var.IntegrationWorkflowDesignerFolderName)">
          <Directory Id="WORKFLOWDESIGNERCUSTOMLIBRARIESFOLDER" Name="$(var.CustomLibrariesFolderName)" />
        </Directory>
      </Directory>
    </StandardDirectory>

    <Feature Id="MainFeature"
             Title="$(var.ProductDisplayName)"
             Description="$(var.ProductDescription)"
             Level="1"
             AllowAdvertise="no"
             AllowAbsent="yes">
      <ComponentRef Id="ServerActivityDllComponent" />
      <ComponentGroupRef Id="RunnerComponents" />
      <ComponentRef Id="ServerServiceRestartComponent" />
      <ComponentRef Id="LegacyServerServiceRestartComponent" />
      <ComponentRef Id="SoupActivityDllComponent" />
      <ComponentRef Id="WorkflowDesignerActivityDllComponent" />
    </Feature>

    <ComponentGroup Id="RunnerComponents">
      <ComponentRef Id="RunnerExecutableComponent" />
      <ComponentRef Id="RunnerConfigComponent" />
      <ComponentRef Id="WinScpExecutableComponent" />
      <ComponentRef Id="WinScpNetComponent" />
    </ComponentGroup>

    <DirectoryRef Id="SERVERCUSTOMLIBRARIESFOLDER">
      <Component Id="ServerActivityDllComponent" Guid="{08DE9BBD-D33C-454A-8EDB-58C5A4935BCA}">
        <File Id="ServerActivityDllFile"
              Name="$(var.ActivityFileName)"
              Source="$(var.ActivitySourceDir)$(var.ActivityFileName)"
              KeyPath="yes" />
      </Component>

      <Component Id="ServerServiceRestartComponent"
                 Guid="{9667AD50-1F58-41A8-948A-C9035FF73994}"
                 Condition="INTEGRATIONSOUPSERVICEFOUND">
        <RegistryValue Root="HKLM"
                       Key="Software\Popokey\SftpActivities"
                       Name="ServiceRestartMarker"
                       Type="integer"
                       Value="1"
                       KeyPath="yes" />
        <ServiceControl Id="RestartIntegrationSoupHostService"
                        Name="IntegrationSoupHostService"
                        Stop="both"
                        Start="install"
                        Wait="yes" />
      </Component>

      <Component Id="LegacyServerServiceRestartComponent"
                 Guid="{68110728-8840-40B5-B438-C1707627BF9A}"
                 Condition="LEGACYINTEGRATIONSOUPSERVICEFOUND">
        <RegistryValue Root="HKLM"
                       Key="Software\Popokey\SftpActivities"
                       Name="LegacyServiceRestartMarker"
                       Type="integer"
                       Value="1"
                       KeyPath="yes" />
        <ServiceControl Id="RestartLegacyIntegrationSoupHostService"
                        Name="HL7SoupIntegrationHostServer"
                        Stop="both"
                        Start="install"
                        Wait="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="SERVERRUNNERFOLDER">
      <Component Id="RunnerExecutableComponent" Guid="{EC64B06C-4AAD-46E8-A13C-3CB4EFD6546F}">
        <File Id="RunnerExecutableFile"
              Name="$(var.RunnerExecutableName)"
              Source="$(var.RunnerSourceDir)$(var.RunnerExecutableName)"
              KeyPath="yes" />
      </Component>

      <Component Id="RunnerConfigComponent" Guid="{54AB5160-9153-464B-B2BE-FDD064F2A85C}">
        <File Id="RunnerConfigFile"
              Name="$(var.RunnerConfigFileName)"
              Source="$(var.RunnerSourceDir)$(var.RunnerConfigFileName)"
              KeyPath="yes" />
      </Component>

      <Component Id="WinScpExecutableComponent" Guid="{A8802FD2-58E5-4DDA-BD80-E2304D7EE0F5}">
        <File Id="WinScpExecutableFile"
              Name="$(var.WinScpExecutableName)"
              Source="$(var.RunnerSourceDir)$(var.WinScpExecutableName)"
              KeyPath="yes" />
      </Component>

      <Component Id="WinScpNetComponent" Guid="{614087E6-37A5-4751-95FC-45AA39D3F7EA}">
        <File Id="WinScpNetFile"
              Name="$(var.WinScpNetAssemblyName)"
              Source="$(var.RunnerSourceDir)$(var.WinScpNetAssemblyName)"
              KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="SOUPCUSTOMLIBRARIESFOLDER">
      <Component Id="SoupActivityDllComponent" Guid="{1AE8CFBB-D444-4C45-A03D-D22BB428F556}">
        <File Id="SoupActivityDllFile"
              Name="$(var.ActivityFileName)"
              Source="$(var.ActivitySourceDir)$(var.ActivityFileName)"
              KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="WORKFLOWDESIGNERCUSTOMLIBRARIESFOLDER">
      <Component Id="WorkflowDesignerActivityDllComponent" Guid="{99A771AA-8320-47E9-9BB4-0DC603BF8863}">
        <File Id="WorkflowDesignerActivityDllFile"
              Name="$(var.ActivityFileName)"
              Source="$(var.ActivitySourceDir)$(var.ActivityFileName)"
              KeyPath="yes" />
      </Component>
    </DirectoryRef>

  </Package>
</Wix>
